@media (min-width:1400px){

.container{
    padding: 0 100px !important;
}
.section-1-3 {
    margin-top: 150px;
  }

}
@media (min-width:1200px){

      .hero-img{
          margin-left: -60px;
    max-width: 130%;
    max-height: 130%;
          
      }
      .nopath{
        max-width: 130%;
        max-height: 130%; 
      }
      
}
@media (max-width:1200px){
   .heading-secondary {
    font-size: 20px; 
}
.heading-primary {
    font-size: 48px;
  }
  .lorem {

    font-size: 16px;
padding-right: 30px;
}
    .hero-img{
        margin-left: -50px;
  max-width: 120%;
  max-height: 120%;}
  .section-2{
    margin-top: 50px;
  }
  .platform-section {
  
    position: relative;
    height: 32rem;
    }
    .rectangle2 {
        right: -70%;
    }
    .fs-60{
        font-size: 56px;
    }
    .fs-38{
        font-size: 34px;
    }
    .fs-28{
        font-size: 24px;
    }
}
@media (max-width:992px) {
    .section-1{
        background-position: left;
    }
    .section-1-2{
        padding-top: 25px;
    }
    .section-1-3{
        margin-top: 0;
        padding-bottom: 30px;
    }
    .hero-img-box {
        margin-top: 50px;
    }
    .hero-img{
        margin-left:0;
  max-width: 100%;
  height: auto;
    }
     .features {
         padding-top: 30px;
     }
    .platform-section {
  
        margin-top: 80px;
        height: 50rem;
        }
    .rectangle {     
        display: none;
     
      }
      .tab , .tab2{
          display: flex;
          justify-content: center;
          
      }
    .nopath , .nopath22{
        position: relative;
        width: fit-content;
        max-width: 100%;
        height: auto;
        left: 0;
        top:6%;
      
    }
    .best-platform {
        padding-top: 50px;
    }
.section-4{
    margin-top: 130px;
    margin-bottom: 0;
}
.section-5{
    margin-top: 50;
    margin-bottom: 150px;
}
    .rectangle2{
display:none;
    }


    .market{
        margin-top: 80px;
    }
    .companydescriptiontitle {
        margin-top: 50px;
    }
}
@media (max-width:768px){
    .heading-primary{
        font-size: 46px;
    }
    .fs-28{
        font-size: 20px;
    }
    .fs-60{
        font-size: 50px;
    }
    .platformoverview-lorem{
        width:70% !important;
    }
    input[type="text"] {
        width: 400px;
    }
    .btn-sub{
        width:150px;
    }
}
@media (max-width:576px){
    .heading-secondary{
        font-size: 16px;
    }
    .heading-primary{
        font-size:38px;
    }
    .lorem{
        font-size: 14px;
    }

.btn-stvdy , .learn-about, .btn-gradient{
    font-size: 14px;
}
.fs-38{
    font-size: 28px;
}
.fs-60{
    font-size:46px;
}
.fs-28{
    font-size: 18px;
}
.fs-46{
    font-size: 40px;
}
.fs-48{
    font-size: 40px;
}

}
@media(max-width:535px){
    input[type="text"] {
        width: 350px;
    }
    .c-l , .circle-line{
        width: 20%;
    }
    .market-re{
        width:80%;
    }
}
@media(max-width:400px) {
    input[type="text"] {
        width: 300px;
    }
    .btn-sub{
        width:130px;
    }
    .c-l , .circle-line{
        width: 25%;
    }
    .market-re{
        width:75%;
    }
}
@media (max-width:350px) {
    input[type="text"] {
        width: 250px;
    }
    .btn-sub{
        width:100px;
    }
}
