/********************/
/* SECTION 1 */
/*******************/
.section-1 {
  background: url(../img/Sans.png);
  /* max-width: 130rem; */
  width: 100%;
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;
}
.section-1-2{
margin-top: 50px;
}
.section-1-3 , .section-2 {
  margin-top: 100px;
}
/********************/
/* SECTION 2 */
/*******************/
.icons {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  
}
.icons img {
  display: block;
  margin: auto;
}
/********************/
/* SECTION 3 */
/*******************/
.platform-section {
  
  position: relative;
  height: 40rem;
  }
.rectangle {
  position: absolute;
  left: -65%;
  top: -35%;
  z-index: 0;
}
.nopath {
  position: absolute;
  z-index: 1;
  width: 60%;
  left: -15%;
  top:10%;
}
/********************/
/* SECTION 4 */
/*******************/
.section-4{
  margin-bottom: 100px;
  position: relative;
}
.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  display: flex;
  gap: 8px;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: gray;
  border: 2px solid gray;
  border-radius: 50%;
  cursor: pointer;
}
.dot--fill {
  background-color: #ff6057;
  border: 2px solid #ff6057;
}
/********************/
/* SECTION 5 */
/*******************/
.section-5{
  margin-top: 100px;
  width: 100%;
  overflow-x: clip;
margin-bottom: 150px;
}
.platform-section-5 {
  height: 35rem;
}
.rectangle2 {
  position: absolute;
  z-index: -1;
  transform: rotate(-115deg);
  right: -80%;
  top: -30%;
}
.nopath22 {
  position: absolute;
  z-index: 11;
}
/********************/
/* SECTION 6 */
/*******************/

.icon-in {
  font-size: 24px;
  text-align: center;
  margin: auto;
  color: #fff;
}

.vertical {
  padding: 10px;
}
.vertical-1 {
  height: 79px;
  width: 5px;
  background-color: #bcbcbc;
  border-radius: 99px;
  margin: 0 20px;
  
}
/********************/
/* SECTION 7 */
/*******************/
.section-7{
  margin-top: 100px;
  margin-bottom: 100px;
}
.feedback{
  margin: auto;
}
/********************/
/* SECTION 8 */
/*******************/
.card{
  box-shadow: 0.5px 0.5px 20px rgb(0, 0, 0, 16%);
  border-radius: 0;
  border: none;

}
.companydescription{
  position: relative;
}
.stars {
  margin-top: 12px;
  display: flex;
  gap: 10px;
}
.star-five {
  height: 17.22px;
  width: 18.11px;
  stroke: #cb48f9;
  color: #cb48f9;
}
/********************/
/* SECTION 9 */
/*******************/

footer{
  margin-top: 100px;
  background-color: #333333;
}

.mailsub {
  display: flex;
  justify-content: center;
  align-items: center;
}
.label {
  position: relative;
}
input[type="text"] {
  width: 479px;
  height: 50px;
  border: 1px solid #707070;
  padding-right: 50px;
  border-radius: 50px;
  padding-left: 24px;
}
.btn-sub {
  position: absolute;
  background-color: #ff6057;
  border: 1px solid #fff;
  color: #fff;
  height: 50px;
  width: 205px;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 50px;
}
